<?xml version="1.0" encoding="UTF-8" ?>

<suite name="suite">

    <test name="report">
        <classes>
            <class name="com.asiainfo.extend.demo.TestMethodsDemo"/>
        </classes>
    </test>

    <listeners>
<!--        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>-->
<!--        <listener class-name="com.asiainfo.extend.demo.ExtentTestNGIReporterListenerOld"/>-->
        <listener class-name="com.asiainfo.extend.demo.ExtentTestNGIReporterListener"/>
    </listeners>

</suite>